/* FrontPage.css */

.buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .buttons-container button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
  }
  
  .buttons-container button:hover {
    background-color: #0056b3;
  }
  